name: test

on: [push, pull_request]

permissions:
  contents: read

jobs:
  # mod:
  #   runs-on: ubuntu-latest
  #   name: Check modules
  #   steps:
  #   - uses: actions/setup-go@v5
  #     with:
  #       go-version: 'oldstable'
  #   - uses: actions/checkout@v4
  #   - run: go mod tidy && git diff --exit-code go.mod go.sum
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        version: [ 'oldstable', 'stable' ]
    name: Go ${{ matrix.version }}
    steps:
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.version }}
    - uses: actions/checkout@v6
    - name: Install Ginkgo
      run: |
        go install github.com/onsi/ginkgo/v2/ginkgo
        go get github.com/onsi/gomega/...
    - run: go vet ./...
    - run: ginkgo --github-output -r -randomize-all -randomize-suites -race -trace -procs=2 -poll-progress-after=10s -poll-progress-interval=10s
